/target/
/jfixtools-cucumber/target/
/jfixtools-logging/target/
/jfixtools-ui/target/
/jfixtools-repository/target/generated-sources/
/jfixtools-repository/target/
/jfixtools-ui-vaadin/target/classes/
/jfixtools-reporting/target/
/jfixtools-ui-vaadin/target/maven-status/maven-compiler-plugin/
/jfixtools-ui-vaadin/target/
/jfixtools-web/target/
